@{
    ViewBag.Title = "Bands";
    Layout = "~/Views/Shared/_LayoutAlt.cshtml";
}


<div class="jumbotron">
    <div>
        <h1 @*class="lead"*@ id="top-padding">Bands</h1>
    </div>
    <h3>Acoutsic Saints</h3>
    <p><img class="img-thumbnail" src="../../Images/MandM_Logo.JPG"><img class="img-thumbnail" src="../../Images/MandM_Logo.JPG"></p>
    
    <h3>Ellwood City Band</h3>
    <h3>Game Face</h3>
    <h3>Rachel's Ransom</h3>
    <h3>Standing Room Only</h3>
    <h3>SticksAndStones</h3>
    <h3>SticksAndStones</h3>
</div>

