
@{
    ViewBag.Title = "Feature";
    Layout = "~/Views/Shared/_LayoutAlt.cshtml";
}

<div class="jumbotron">
    <h2 class="lead" id="top-padding">Words, words and more words.  blalalalalalalalah blah blah</h2>

</div>

