@{
    Layout = "~/Views/Shared/_LayoutAlt.cshtml";
}

@{ 
    ViewBag.Title = "ProjectHomePage";
}

<div class="jumbotron">
    @*<h1><img src="../Images/MandM_Logo.JPG"></h1>*@
    <p class="lead" id="top-padding">Words, words and more words.  blalalalalalalalah blah blah</p>

</div>

