@{
    ViewBag.Title = "About";
}
<h1>Adam Rusch</h1>
<h3>Father, Husband, Web Developer and all around student of the universe.</h3>

<!--<p>Use this area to provide additional information.</p>-->
