@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Information</h2>
<!--<h3>@ViewBag.Message</h3>-->
<!--    ADD IMAGE     -->
<address>
    Rock Hill, SC<br />
</address>
    
<address>    
    <strong>Email:</strong>   <a href="arusch.... add image">arusch.... add image</a><br />
    <!--    
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    -->
</address>